<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.auth0.com/js/lock/11.6.1/lock.min.js"></script>
    <script> 
        var options = { language: 'cs' };
        var lock = new Auth0Lock(
          'q4dJSvRxKkZGvmudlE-IubduWew5A4If',
          'trevos.eu.auth0.com',
          options);
    </script>
    <!-- Custom CSS File -->
    <script src="css/style.css"></script>
</head>
<body>
{% include 'nav_bar.html.twig' %}
{% block body %}{% endblock %}
{% block javascripts %}
    
{% endblock %}
</body>
</html>     